@{
    ViewBag.Title = "Inicio";
}

@using TP_Cine.Models.ModeloNegocio
@model List<PeliculasNegocio>

<h1>Home</h1>

<div class="row">
    <div class="col-sm-9 col-sm-offset-1 ">
        <h3>Pelicualas en Cartelera</h3>
        <div class="">
            @foreach (PeliculasNegocio p in Model)
            {
                <div class="container">
                    <div>
                        <img src="@p.Imagen" alt="@p.Nombre" />
                    </div>
                    <div>
                        @Ajax.ActionLink("Ver Mas", "../Peliculas/PeliculaDetalles", new { id = @p.Id },
                                 new AjaxOptions() { HttpMethod = "GET" }, new { @class = "btn btn-default" })
                        @Ajax.ActionLink("Reservar", "../Peliculas/Reserva", new { id = @p.Id },
                                 new AjaxOptions() { HttpMethod = "GET" }, new { @class = "btn btn-success" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

