@{
    ViewBag.Title = "Inicio";
}

@using TP_Cine.Models.ModeloNegocio
@model List<PeliculasNegocio>


<div class="container">
    <div class="row">
        <h2 class="text-center">Películas en Cartelera</h2>
        <div class="col-sm-12">
            @foreach (PeliculasNegocio p in Model)
            {
                <div class="col-xs-6 col-md-4 homePelicula">
                    <div>
                        <img src="@p.Imagen" alt="@p.Nombre" class="img-thumbnail" />
                    </div>
                    <div class="homeOpciones">
                        @Ajax.ActionLink("Ver Mas", "../Peliculas/PeliculaDetalles", new { id = @p.Id },
                                 new AjaxOptions() { HttpMethod = "GET" }, new { @class = "btn btn-default" })
                        @Ajax.ActionLink("Reservar", "../Peliculas/Reserva", new { id = @p.Id },
                                 new AjaxOptions() { HttpMethod = "GET" }, new { @class = "btn btn-success" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

